@charset "UTF-8";

.teaser {
  width: 100%;
  padding: 32px 60px;
  box-sizing: border-box;
  background: #fff;
}

.teaser .custom-teaser {
  display: flex;
  align-items: center;
  gap: 70px;
}

.teaser .custom-teaser_content--title {
  margin: 0 0 28px;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 900;
}

.teaser .custom-teaser_content--description {
  margin: 0;
  padding: 0 14px;
  list-style: none;
}

.teaser .custom-teaser_content--description li {
  position: relative;
  margin: 0 0 15px;
  padding-left: 31px;
  color: #52647a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 22px;
}

.teaser .custom-teaser_content--description li::before {
  content: "✓";
  position: absolute;
  top: 1px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #55bd70;
  color: #fff;
  font-size: 8px;
  font-weight: 700;
}

.teaser .custom-teaser_content--button {
  align-items: center;
  margin: 48px 0 0;
  display: flex;
  gap: 33px;
  width: 330px;
}

.teaser .custom-teaser_content--button a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 51px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.teaser .custom-teaser_content--button a:first-child {
  min-width: 136px;
  padding: 0 1px;
  color: #fff;
  background: linear-gradient(100deg, #0068b7 0%, #5431b9 100%);
  border-radius: 4px;
}

.teaser .custom-teaser_content--button a:last-child {
  position: relative;
  padding: 0 35px 0 0;
  color: #0067b9;
}

.teaser .custom-teaser_content--button a:first-child:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgb(0 0 0 / 15%);
}

.teaser .custom-teaser_content--button a:last-child::after {
  content: "→";
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-52%);
  font-size: 21px;
  font-weight: 700;
  transition: transform 0.2s ease;
}

.teaser .custom-teaser_content--button a:last-child:hover::after {
  transform: translate(5px, -52%);
}